<!DOCTYPE html>
<html>
  <head>
    <title>Celebrity Name Game</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="alert-notice"><%= notice %></p>
    <p class="alert-warning"><%= alert %></p>

    <% if !current_user.nil? %>
      <header class="navbar  navbar-inverse" style='margin-bottom: 50px;'>
        <div class="navbar-class">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class='logged_in'><a href="#">Logged in as: <%= current_user.first_name %> <%= current_user.last_name %> (<%= current_user.email %>)</a></li> 
              <li class="<%= 'active' if params[:controller] == 'games' %>"> <a href="/">Play</a> </li>
              <li class="<%= 'active' if params[:controller] == 'scores' %>"> <a href="/scores">Scores</a> </li>
              <li class="<%= 'active' if params[:controller] == 'users' %>"> <a href="/users/sign_out">Log out</a> </li>
            </ul>
          </div>
        </div>
      </header>
    <% end %>

    <%= yield %>
  </body>
</html>
